<div class="container">
  <form>
    <div>Employee ID or Token</div>
    <div class="search-container">
      <input type="text" name="emplid" pInputText [(ngModel)]="emplid">
      <button pButton pRipple type="submit" label="Search" class="p-button-raised p-button-success" (click)="search()"></button>
    </div>
  </form>
</div>
<div class="count-container"><strong>Attendee count: </strong>{{totalCount}}</div>
<div class="grid-container">
  <p-card *ngIf="details?.length !== 0">
    <vaccine-print id="print-section"></vaccine-print>
    <div class="action-bar">
      <button pButton pRipple type="button" label="Print" class="p-button-raised p-button-info" ngxPrint printSectionId="print-section" styleSheetFile="assets/style.css" [useExistingCss]="true"></button>
    </div>
  </p-card>
</div>

