<div class="container">
  <form>
    <div class="search-section">
      <div>
        <div>Employee ID or Token</div>
        <div class="search-container">
          <input type="text" name="emplid" pInputText [(ngModel)]="emplid">
          <button pButton pRipple type="submit" label="Search" class="p-button-raised p-button-success" (click)="search()"></button>
        </div>
      </div>
      <div>
        <div>Cumulative Attendee Count</div>
        <div class="search-container">
          <input type="text" name="count" pInputText [ngModel]="totalCount" disabled>
          <button pButton pRipple type="button" icon="pi pi-download" label="Download" class="p-button-raised p-button-warning" (click)="saveStatus()"></button>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="grid-container">
  <vaccine-print id="print-section" *ngIf="details?.length !== 0"></vaccine-print>
  <div class="action-bar">
    <button pButton pRipple type="button" label="Print" class="p-button-raised p-button-info" ngxPrint printSectionId="print-section" styleSheetFile="assets/style.css" [useExistingCss]="true"></button>
  </div>
</div>

