@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/roboto.regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

th {
  background-color: red;
  color: green;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  body {
    /*margin: 1.6cm;*/
  }

  .employee-details {
    margin: 1.6cm 1.6cm 1.6cm 3cm;
    padding: 0 20px;
  }

  .print-container {
    width: 150mm;
    margin: 1.6cm;
  }

  .person {
    width: 150mm;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
  }

  .person:nth-child(4n) {
    page-break-before: always;
    margin-top: 3cm;
  }

  .person-details {
    width: 50mm;
    margin-bottom: 5px;
    overflow: visible;
    position: relative;
  }
}
