.employee-details > div:nth-child(odd) {
  font-weight: bold;
  margin-right: 1em;
}

.employee-details > div:nth-child(even) {
  margin-right: 3em;
}

.employee-details {
  display: flex;
  margin: 40px;
}

.p-datatable .p-datatable-thead > tr > th {
  color: #FFFFFF;
  background: #027ABC;
}

:host ::ng-deep .center-align {
  text-align: center;
}

@media print {
  .employee-details {
    margin: 1.6cm 1.6cm 1.6cm 1.6cm;
    padding: 0 20px;
  }

  .display-section {
    display: none;
  }
}

@media screen {
  .print-container {
    display: none;
  }
}

@media print {
  .print-container {
    display: block;
  }
}

.print-container {
  width: 175mm;
}

.person {
  width: 175mm;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.person-details {
  width: 50mm;
  margin-bottom: 5px;
  overflow: visible;
}
