<div class="employee-details" *ngIf="details?.length !== 0">
  <div>Employee ID: </div><div>{{details[0] ? details[0]['Employee ID'] || details[0]['Employee Id']: ''}}</div>
  <div>Email: </div><div>{{details[0] ? details[0]['Empl e-mail'] || details[0]['Email'] : ''}}</div>
  <div>Employee Name: </div><div>{{details[0] ? details[0]['Employee Name'] || details[0]['Name'] : ''}}</div>
</div>

<div class="display-section">
  <p-table [value]="details" *ngIf="details?.length !== 0" [(selection)]="vaccinatedEmployees" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="Token">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem">Expand Darwin Data</th>
        <th style="width: 6rem">Reported</th>
        <th style="width: 6rem">Token</th>
        <th style="width: 10rem">Slot Start</th>
        <th style="width: 10rem">Slot End</th>
        <th>Darwin Name</th>
        <th style="width: 14rem">Name in Co-WIN</th>
<!--        <th style="width: 10rem">Last 4 Digits of Co-WIN Ref ID</th>-->
        <th style="width: 10rem">Dependent Type</th>
        <th>Co-WIN Regd. Mobile #</th>
        <th>Photo ID</th>
        <th style="width: 10rem">Last 4 of Photo ID</th>
        <th>Dose</th>
<!--        <ng-container *ngFor="let header of headers">-->
<!--          <th *ngIf="!headersToBeExcluded.includes(header)">{{header}}</th>-->
<!--        </ng-container>-->
<!--        <th>Dose 1 Date</th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail let-expanded="expanded">
      <tr [class.selected]="vaccinatedEmployees | includes: detail">
        <td>
          <button type="button" pButton pRipple [pRowToggler]="detail" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td class="center-align">
          <p-tableCheckbox [value]="detail"></p-tableCheckbox>
        </td>
        <td>{{detail['Token'] | format: 'Token'}}</td>
        <td>{{detail['Slot / Start'] | format: 'Slot / Start'}}</td>
        <td>{{detail['Slot / End'] | format: 'Slot / End'}}</td>
        <td>{{detail['Name']}}</td>
        <td>{{detail['Darwin Name']}}</td>
        <td>{{detail['Darwin Relation']}}</td>
<!--        <td>{{(detail['CO-WIN REF ID (last 4 digits)'] || detail['Last 4 Digits of Co-WIN Ref ID']) | format: 'CO-WIN REF ID (last 4 digits)'}}</td>-->
        <td>{{detail['Co-WIN Regd. Mobile #']}}</td>
        <td>{{detail['Photo ID'] || detail['Co-WIN Photo Id']}}</td>
        <td>{{(detail['CO-WIN Photo ID (last 4 digits)'] || detail['Last 4 of Photo ID']) | format: 'CO-WIN Photo ID (last 4 digits)'}}</td>
        <td>{{detail['Dose 1/2'] || (detail['Dose1 Status'] | format: 'Dose1 Status')}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-detail>
      <tr>
        <td colspan="2"></td>
        <td colspan="9" class="expanded-details">
          <div>
            <div>Darwin Dependent Type: </div>
            <div>{{detail['Relation'] || detail['Darwin Relation']}}</div>
          </div>
          <div>
            <div>Darwin DOB:</div>
            <div>{{(detail['DOB'] || detail['Darwin DOB']) | format: 'DOB'}}</div>
          </div>
          <div>
            <div>Darwin Gender:</div>
            <div>{{detail['Gender'] || detail['Darwin Gender']}}</div>
          </div>
          <div>
            <div>Dose 1 Date:</div>
            <div>{{(detail['Vac Date'] || detail['Dose1 Date']) | format: 'Vac Date'}}</div>
          </div>
          <div>
            <div>Vaccine Type:</div>
            <div>{{detail['Vaccine Type'] || detail['Vac Type']}}</div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="print-container">
  <ng-container *ngFor="let detail of details">
    <div class="person" *ngIf="vaccinatedEmployees | includes : detail">
      <div class="person-details">
        <div><strong>Token:</strong></div>
        <div>{{detail['Token']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Slot Start:</strong></div>
        <div>{{detail['Slot Start']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Slot End:</strong></div>
        <div>{{detail['Slot End']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Name:</strong></div>
        <div>{{detail['Name']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Name in Co-WIN:</strong></div>
        <div>{{detail['Name in Co-WIN']}}</div>
      </div>
      <div class="person-details">
        <div><strong>CO-WIN REF ID (last 4 digits):</strong></div>
        <div>{{(detail['CO-WIN REF ID (last 4 digits)'] || detail['Last 4 Digits of Co-WIN Ref ID']) | format : 'CO-WIN REF ID (last 4 digits)'}}</div>
      </div>
      <div class="person-details">
        <div><strong>Co-WIN Regd. Mobile #:</strong></div>
        <div>{{detail['Co-WIN Regd. Mobile #']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Photo ID:</strong></div>
        <div>{{detail['Photo ID'] || detail['Co-WIN Photo Id']}}</div>
      </div>
      <div class="person-details">
        <div><strong>CO-WIN Photo ID (last 4 digits):</strong></div>
        <div>{{(detail['CO-WIN Photo ID (last 4 digits)'] || detail['Last 4 of Photo ID']) | format : 'CO-WIN Photo ID (last 4 digits)'}}</div>
      </div>
      <div class="person-details">
        <div><strong>Dose 1/2:</strong></div>
        <div>{{detail['Dose 1/2'] || (detail['Dose1 Status'] | format: 'Dose1 Status')}}</div>
      </div>
      <div class="person-details">
        <div><strong>Darwin Dependent Type:</strong></div>
        <div>{{detail['Relation'] || detail['Darwin Dependent Type']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Darwin DOB:</strong></div>
        <div>{{(detail['DOB'] || detail['Darwin DOB']) | format: 'DOB'}}</div>
      </div>
      <div class="person-details">
        <div><strong>Darwin Gender:</strong></div>
        <div>{{detail['Gender'] || detail['Darwin Gender']}}</div>
      </div>
      <div class="person-details">
        <div><strong>Dose 1 Date:</strong></div>
        <div>{{(detail['Vac Date'] || detail['Dose1 Date']) | format: 'Vac Date'}}</div>
      </div>
      <div class="person-details">
        <div><strong>Vaccine Type:</strong></div>
        <div>{{detail['Vac Type'] || detail['Vaccine Type']}}</div>
      </div>
    </div>
  </ng-container>
</div>
